# Setting presgretsql

In [1]:
import psycopg2

try:
    conn = psycopg2.connect("dbname='template1' user='postgres' host='localhost' password='xxxx'")
except:
    print ("I am unable to connect to the database")

In [2]:
cur = conn.cursor()

In [3]:
cur.execute("""SELECT datname from pg_database""")

In [4]:
rows = cur.fetchall()

In [5]:
print ("\nShow me the databases:\n")
for row in rows:
    print ("   ", row[0])

Show me the databases:

    template1
    template0
    postgres
    testpython

In [ ]:
import psycopg2
import numpy as np

conn = psycopg2.connect("dbname='template1' user='postgres' host='localhost' password='suh0902'")
curser = conn.cursor()

cursor.execute('SELECT radius FROM Star2; ')

records = cursor.fetchall()
array = np.array(records)

print(array.shape)
print(array.mean())
print(array.std())

In [6]:
%load_ext sql

/home/suh/anaconda3/lib/python3.5/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/home/suh/anaconda3/lib/python3.5/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [7]:
%sql sqlite://

'Connected: None@None'

In [8]:
%%sql
CREATE TABLE writer (first_name, last_name, year_of_death);
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Bertold', 'Brecht', 1956);

Done.
1 rows affected.
1 rows affected.

[]

In [24]:
%sql select * from writer

Done.

[('William', 'Shakespeare', 1616), ('Bertold', 'Brecht', 1956)]

In [9]:
%sql postgresql://postgres:suh0902@localhost/template1

'Connected: postgres@template1'

## Modifying data in existing tables
The previous activity covered a broad range of standard SQL syntax for querying data in existing tables. Now we're going to have a look at how we can set these tables up from scratch and how we can manipulate them in more advanced ways.

As a starting point, let's have a look at how we can modify data in an existing table.

There are three basic commands to manipulate a table's content:

- INSERT: inserts a new row into a table;
- DELETE: deletes a specified row;
- UPDATE: changes attributes within a row.
We're going to look at each of them in turn using a small version of our Star table from the previous activity.

In [69]:
%%sql
CREATE TABLE Star3(
  kepler_id INTEGER PRIMARY KEY,
  t_eff INTEGER,
  radius FLOAT
);

Done.

[]

In [71]:
%%sql
COPY Star3 (kepler_id, t_eff, radius) FROM '/home/suh/stars3.csv' CSV;

6 rows affected.

[]

## The INSERT statement

In [73]:
%%sql
INSERT INTO Star3 (kepler_id, t_eff, radius)  
VALUES (2713050, 5000, 0.956);

1 rows affected.

[]

In [76]:
%%sql
SELECT * FROM Star3

7 rows affected.

[(10341777, 6302, 0.815),
 (11296798, 6335, 3.523),
 (3836450, 5160, 0.784),
 (4483235, 8782, 1.965),
 (6590362, 5926, 0.887),
 (7031208, 6319, 1.032),
 (2713050, 5000, 0.956)]

In [77]:
%%sql
INSERT INTO Star3 (kepler_id, t_eff, radius) VALUES
  (2713052, 5000, 0.956), (2713051, 3100, 1.321);

2 rows affected.

[]

In [78]:
%%sql
SELECT * FROM Star3
WHERE kepler_id = 2713049;
 
UPDATE Star3
SET t_eff = 6000
WHERE kepler_id = 2713049;
 
SELECT * FROM Star3
WHERE kepler_id = 2713049;

0 rows affected.
0 rows affected.
0 rows affected.

[]

In [13]:
%%sql

CREATE TABLE Star2 (
  Kepler_ID INTEGER NOT NULL,
  T_eff INTEGER NOT NULL,
  Radius FLOAT NOT NULL,
  PRIMARY KEY (Kepler_ID)
);

Done.

[]

In [ ]:
%%sql
'/home/suh/바탕화면/planets1.csv

In [57]:
%%sql
CREATE TABLE Startrack (
  kepler_id INTEGER NOT NULL,
  koi_name VARCHAR(20) NOT NULL,
  t_eff INTEGER,
  radius FLOAT(5),
  PRIMARY KEY (koi_name)
);

Done.

[]

In [16]:
%%sql
CREATE TABLE Planet2 (
  Kepler_ID INTEGER NOT NULL REFERENCES Star2(Kepler_ID),
  KOI_name VARCHAR(20) NOT NULL,
  Kepler_name VARCHAR(20),
  Status VARCHAR(20) NOT NULL,
  Period FLOAT,
  Radius FLOAT,
  T_eq INTEGER,
  PRIMARY KEY (KOI_name)
);

Done.

[]

In [17]:
%%sql
INSERT INTO Star2 VALUES(2713049,5996,0.956);
INSERT INTO Star2 VALUES(3114167,5666,0.677);
INSERT INTO Star2 VALUES(3115833,5995,0.847);
INSERT INTO Star2 VALUES(3246984,5735,0.973);
INSERT INTO Star2 VALUES(3342970,6167,1.064);
INSERT INTO Star2 VALUES(3351888,5717,1.057);
INSERT INTO Star2 VALUES(3453214,5733,0.77);
INSERT INTO Star2 VALUES(3641726,5349,0.82);
INSERT INTO Star2 VALUES(3832474,5485,0.867);
INSERT INTO Star2 VALUES(3935914,5934,0.893);
INSERT INTO Star2 VALUES(3940418,5170,0.807);
INSERT INTO Star2 VALUES(4049131,4905,0.761);
INSERT INTO Star2 VALUES(4139816,3887,0.48);
INSERT INTO Star2 VALUES(4275191,5557,0.781);
INSERT INTO Star2 VALUES(4476123,5413,0.751);
INSERT INTO Star2 VALUES(5358241,6079,0.945);
INSERT INTO Star2 VALUES(5358624,5071,0.788);
INSERT INTO Star2 VALUES(5456651,4980,0.734);
INSERT INTO Star2 VALUES(6862328,5796,0.871);
INSERT INTO Star2 VALUES(6922244,6225,1.451);
INSERT INTO Star2 VALUES(8395660,5881,1.029);
INSERT INTO Star2 VALUES(9579641,6391,1.332);
INSERT INTO Star2 VALUES(10187017,4812,0.755);
INSERT INTO Star2 VALUES(10480982,6117,0.947);
INSERT INTO Star2 VALUES(10526549,4856,0.696);
INSERT INTO Star2 VALUES(10583066,4536,0.693);
INSERT INTO Star2 VALUES(10601284,5559,0.806);
INSERT INTO Star2 VALUES(10662202,4722,0.527);
INSERT INTO Star2 VALUES(10666592,6350,1.991);
INSERT INTO Star2 VALUES(10682541,5339,0.847);
INSERT INTO Star2 VALUES(10797460,5850,1.04);
INSERT INTO Star2 VALUES(10811496,5853,0.868);
INSERT INTO Star2 VALUES(10848459,5795,0.803);
INSERT INTO Star2 VALUES(10854555,6031,1.046);
INSERT INTO Star2 VALUES(10872983,6046,0.972);
INSERT INTO Star2 VALUES(10875245,5851,1.411);
INSERT INTO Star2 VALUES(10910878,5126,0.742);
INSERT INTO Star2 VALUES(10984090,5803,1.073);
INSERT INTO Star2 VALUES(10987985,5015,0.826);
INSERT INTO Star2 VALUES(11018648,5588,0.796);
INSERT INTO Star2 VALUES(11138155,6117,1.025);
INSERT INTO Star2 VALUES(11153539,6075,0.969);
INSERT INTO Star2 VALUES(11304958,5468,1.046);
INSERT INTO Star2 VALUES(11391957,5592,0.782);
INSERT INTO Star2 VALUES(11403044,6174,1.103);
INSERT INTO Star2 VALUES(11414511,5653,0.965);
INSERT INTO Star2 VALUES(11460018,5641,0.831);
INSERT INTO Star2 VALUES(11465813,5520,0.983);
INSERT INTO Star2 VALUES(11493732,6144,1.091);
INSERT INTO Star2 VALUES(11507101,5957,0.971);
INSERT INTO Star2 VALUES(11754553,3898,0.54);
INSERT INTO Star2 VALUES(11812062,5492,0.812);
INSERT INTO Star2 VALUES(11818800,5446,0.781);
INSERT INTO Star2 VALUES(11853255,3741,0.45);
INSERT INTO Star2 VALUES(11904151,5627,1.056);
INSERT INTO Star2 VALUES(11918099,4989,0.727);
INSERT INTO Star2 VALUES(11923270,3672,0.49);
INSERT INTO Star2 VALUES(11960862,5992,0.989);
INSERT INTO Star2 VALUES(12020329,5485,0.867);
INSERT INTO Star2 VALUES(12066335,3767,0.48);
INSERT INTO Star2 VALUES(12070811,5557,0.752);
INSERT INTO Star2 VALUES(12110942,5880,0.917);
INSERT INTO Star2 VALUES(12366084,5841,0.931);
INSERT INTO Star2 VALUES(12404086,5127,0.775);
INSERT INTO Star2 VALUES(12470844,5354,0.788);
INSERT INTO Star2 VALUES(12644822,5795,0.919);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [21]:
%%sql
SELECT kepler_id, radius
FROM Star2

66 rows affected.

[(2713049, 0.956),
 (3114167, 0.677),
 (3115833, 0.847),
 (3246984, 0.973),
 (3342970, 1.064),
 (3351888, 1.057),
 (3453214, 0.77),
 (3641726, 0.82),
 (3832474, 0.867),
 (3935914, 0.893),
 (3940418, 0.807),
 (4049131, 0.761),
 (4139816, 0.48),
 (4275191, 0.781),
 (4476123, 0.751),
 (5358241, 0.945),
 (5358624, 0.788),
 (5456651, 0.734),
 (6862328, 0.871),
 (6922244, 1.451),
 (8395660, 1.029),
 (9579641, 1.332),
 (10187017, 0.755),
 (10480982, 0.947),
 (10526549, 0.696),
 (10583066, 0.693),
 (10601284, 0.806),
 (10662202, 0.527),
 (10666592, 1.991),
 (10682541, 0.847),
 (10797460, 1.04),
 (10811496, 0.868),
 (10848459, 0.803),
 (10854555, 1.046),
 (10872983, 0.972),
 (10875245, 1.411),
 (10910878, 0.742),
 (10984090, 1.073),
 (10987985, 0.826),
 (11018648, 0.796),
 (11138155, 1.025),
 (11153539, 0.969),
 (11304958, 1.046),
 (11391957, 0.782),
 (11403044, 1.103),
 (11414511, 0.965),
 (11460018, 0.831),
 (11465813, 0.983),
 (11493732, 1.091),
 (11507101, 0.971),
 (11754553, 0.54),
 (11812062, 0.812),
 (11818800, 0.781),
 (11853255, 0.45),
 (11904151, 1.056),
 (11918099, 0.727),
 (11923270, 0.49),
 (11960862, 0.989),
 (12020329, 0.867),
 (12066335, 0.48),
 (12070811, 0.752),
 (12110942, 0.917),
 (12366084, 0.931),
 (12404086, 0.775),
 (12470844, 0.788),
 (12644822, 0.919)]

In [22]:
%%sql
INSERT INTO Planet2 VALUES(10666592,'K00002.01','Kepler-2b','CONFIRMED',2.204735365,16.39,2025);
INSERT INTO Planet2 VALUES(6922244,'K00010.01','Kepler-8b','CONFIRMED',3.522498573,14.83,1521);
INSERT INTO Planet2 VALUES(11904151,'K00072.01','Kepler-10b','CONFIRMED',0.837491331,1.45,1968);
INSERT INTO Planet2 VALUES(10187017,'K00082.04','Kepler-102c','CONFIRMED',7.07136076,0.58,723);
INSERT INTO Planet2 VALUES(10187017,'K00082.05','Kepler-102b','CONFIRMED',5.28695437,0.49,797);
INSERT INTO Planet2 VALUES(10984090,'K00112.02','Kepler-466c','CONFIRMED',3.709213846,1.24,1236);
INSERT INTO Planet2 VALUES(9579641,'K00115.01','Kepler-105b','CONFIRMED',5.41220713,3.28,1306);
INSERT INTO Planet2 VALUES(9579641,'K00115.02','Kepler-105c','CONFIRMED',7.12594591,1.88,1191);
INSERT INTO Planet2 VALUES(9579641,'K00115.03',NULL,'CANDIDATE',3.4358789,0.65,1519);
INSERT INTO Planet2 VALUES(8395660,'K00116.01','Kepler-106c','CONFIRMED',13.57076622,2.35,796);
INSERT INTO Planet2 VALUES(8395660,'K00116.02','Kepler-106e','CONFIRMED',43.84444353,2.58,538);
INSERT INTO Planet2 VALUES(8395660,'K00116.03','Kepler-106b','CONFIRMED',6.16491696,0.85,1035);
INSERT INTO Planet2 VALUES(8395660,'K00116.04','Kepler-106d','CONFIRMED',23.9802348,0.99,658);
INSERT INTO Planet2 VALUES(10875245,'K00117.02','Kepler-107c','CONFIRMED',4.90143807,1.84,1263);
INSERT INTO Planet2 VALUES(10480982,'K00744.01',NULL,'CANDIDATE',19.221386154,51.4,698);
INSERT INTO Planet2 VALUES(10526549,'K00746.01','Kepler-660b','CONFIRMED',9.27358194,2.52,649);
INSERT INTO Planet2 VALUES(10583066,'K00747.01','Kepler-661b','CONFIRMED',6.029301321,3.14,685);
INSERT INTO Planet2 VALUES(10601284,'K00749.01','Kepler-226c','CONFIRMED',5.34955671,2.7,918);
INSERT INTO Planet2 VALUES(10601284,'K00749.02','Kepler-226b','CONFIRMED',3.94104632,1.59,1017);
INSERT INTO Planet2 VALUES(10601284,'K00749.03','Kepler-226d','CONFIRMED',8.10904671,1.19,799);
INSERT INTO Planet2 VALUES(10662202,'K00750.01','Kepler-662b','CONFIRMED',21.67697486,1.54,430);
INSERT INTO Planet2 VALUES(10682541,'K00751.01','Kepler-663b','CONFIRMED',4.99678284,2.7,917);
INSERT INTO Planet2 VALUES(10797460,'K00752.01','Kepler-227b','CONFIRMED',9.48803146,3.1,881);
INSERT INTO Planet2 VALUES(10797460,'K00752.02','Kepler-227c','CONFIRMED',54.418464,3.1,492);
INSERT INTO Planet2 VALUES(10811496,'K00753.01',NULL,'CANDIDATE',19.899139805,3462.25,639);
INSERT INTO Planet2 VALUES(10848459,'K00754.01',NULL,'CANDIDATE',1.736952479,34.04,1404);
INSERT INTO Planet2 VALUES(10854555,'K00755.01','Kepler-664b','CONFIRMED',2.525593315,2.71,1407);
INSERT INTO Planet2 VALUES(10872983,'K00756.01','Kepler-228d','CONFIRMED',11.09431923,4.02,835);
INSERT INTO Planet2 VALUES(10872983,'K00756.02','Kepler-228c','CONFIRMED',4.13443005,3.02,1160);
INSERT INTO Planet2 VALUES(10872983,'K00756.03','Kepler-228b','CONFIRMED',2.56659092,1.56,1360);
INSERT INTO Planet2 VALUES(10910878,'K00757.01','Kepler-229c','CONFIRMED',16.06862959,5.27,571);
INSERT INTO Planet2 VALUES(10910878,'K00757.02','Kepler-229d','CONFIRMED',41.1970874,3.62,417);
INSERT INTO Planet2 VALUES(10910878,'K00757.03','Kepler-229b','CONFIRMED',6.252964898,2.41,782);
INSERT INTO Planet2 VALUES(10987985,'K00758.01','Kepler-665b','CONFIRMED',16.01310205,2.86,593);
INSERT INTO Planet2 VALUES(11018648,'K00759.01','Kepler-230b','CONFIRMED',32.62882975,3791.05,506);
INSERT INTO Planet2 VALUES(11018648,'K00759.02','Kepler-230c','CONFIRMED',91.77221,2.13,358);
INSERT INTO Planet2 VALUES(11138155,'K00760.01',NULL,'CANDIDATE',4.959319451,11.88,1128);
INSERT INTO Planet2 VALUES(11153539,'K00762.01','Kepler-666b','CONFIRMED',4.49876092,2.21,1133);
INSERT INTO Planet2 VALUES(11304958,'K00764.01','Kepler-667b','CONFIRMED',41.43962808,5.73,516);
INSERT INTO Planet2 VALUES(11391957,'K00765.01','Kepler-668b','CONFIRMED',8.35390639,2.54,789);
INSERT INTO Planet2 VALUES(11403044,'K00766.01','Kepler-669b','CONFIRMED',4.125546869,4.46,1244);
INSERT INTO Planet2 VALUES(11414511,'K00767.01','Kepler-670b','CONFIRMED',2.816504852,12.82,1253);
INSERT INTO Planet2 VALUES(11460018,'K00769.01','Kepler-671b','CONFIRMED',4.280958588,2.33,1014);
INSERT INTO Planet2 VALUES(11465813,'K00771.01',NULL,'CANDIDATE',670.645246,14.41,196);
INSERT INTO Planet2 VALUES(11493732,'K00772.01',NULL,'CANDIDATE',61.2563443,64.23,505);
INSERT INTO Planet2 VALUES(11507101,'K00773.01','Kepler-672b','CONFIRMED',38.3774623,2.7,541);
INSERT INTO Planet2 VALUES(11754553,'K00775.01','Kepler-52c','CONFIRMED',16.38485646,1.81,392);
INSERT INTO Planet2 VALUES(11754553,'K00775.02','Kepler-52b','CONFIRMED',7.87740709,2.33,500);
INSERT INTO Planet2 VALUES(11754553,'K00775.03','Kepler-52d','CONFIRMED',36.4451982,1.8,300);
INSERT INTO Planet2 VALUES(11812062,'K00776.01','Kepler-673b','CONFIRMED',3.728731093,6.27,1022);
INSERT INTO Planet2 VALUES(11818800,'K00777.01',NULL,'CANDIDATE',40.41958501,8.02,468);
INSERT INTO Planet2 VALUES(11853255,'K00778.01','Kepler-674b','CONFIRMED',2.243381847,1.32,685);
INSERT INTO Planet2 VALUES(11918099,'K00780.01','Kepler-675b','CONFIRMED',2.33743801,2.38,1054);
INSERT INTO Planet2 VALUES(11918099,'K00780.02',NULL,'CANDIDATE',7.2406514,5.32,723);
INSERT INTO Planet2 VALUES(11923270,'K00781.01','Kepler-676b','CONFIRMED',11.59822172,3.07,400);
INSERT INTO Planet2 VALUES(11960862,'K00782.01','Kepler-677b','CONFIRMED',6.57531678,5.38,1015);
INSERT INTO Planet2 VALUES(12020329,'K00783.01','Kepler-678b','CONFIRMED',7.27503724,4.91,833);
INSERT INTO Planet2 VALUES(12066335,'K00784.01','Kepler-231c','CONFIRMED',19.2715468,1.73,343);
INSERT INTO Planet2 VALUES(12066335,'K00784.02','Kepler-231b','CONFIRMED',10.06525843,1.61,426);
INSERT INTO Planet2 VALUES(12070811,'K00785.01','Kepler-679b','CONFIRMED',12.39358604,2.69,680);
INSERT INTO Planet2 VALUES(12110942,'K00786.01','Kepler-680b','CONFIRMED',3.689926291,1.96,1147);
INSERT INTO Planet2 VALUES(12366084,'K00787.01','Kepler-232b','CONFIRMED',4.431242593,3.07,1074);
INSERT INTO Planet2 VALUES(12366084,'K00787.02','Kepler-232c','CONFIRMED',11.37938071,3.74,784);
INSERT INTO Planet2 VALUES(12404086,'K00788.01','Kepler-681b','CONFIRMED',26.39435646,3.16,491);
INSERT INTO Planet2 VALUES(12470844,'K00790.01','Kepler-233b','CONFIRMED',8.47237844,2.71,752);
INSERT INTO Planet2 VALUES(12470844,'K00790.02','Kepler-233c','CONFIRMED',60.4186137,2.72,390);
INSERT INTO Planet2 VALUES(12644822,'K00791.01','Kepler-682b','CONFIRMED',12.611906672,7.66,753);
INSERT INTO Planet2 VALUES(2713049,'K00794.01','Kepler-683b','CONFIRMED',2.539183179,1.97,1348);
INSERT INTO Planet2 VALUES(3114167,'K00795.01','Kepler-684b','CONFIRMED',6.770302008,2.66,813);
INSERT INTO Planet2 VALUES(3115833,'K00797.01',NULL,'CANDIDATE',10.181581555,8.18,819);
INSERT INTO Planet2 VALUES(3246984,'K00799.01',NULL,'CANDIDATE',1.626629735,447.32,1548);
INSERT INTO Planet2 VALUES(3342970,'K00800.01','Kepler-234b','CONFIRMED',2.711502579,3.62,1405);
INSERT INTO Planet2 VALUES(3342970,'K00800.02','Kepler-234c','CONFIRMED',7.21204152,3.51,1015);
INSERT INTO Planet2 VALUES(3351888,'K00801.01','Kepler-685b','CONFIRMED',1.6255222,9.74,1572);
INSERT INTO Planet2 VALUES(3453214,'K00802.01',NULL,'CANDIDATE',19.620347388,12.0,605);
INSERT INTO Planet2 VALUES(3641726,'K00804.01',NULL,'CANDIDATE',9.0293089,2.72,757);
INSERT INTO Planet2 VALUES(3832474,'K00806.01','Kepler-30d','CONFIRMED',143.2063518,9.36,308);
INSERT INTO Planet2 VALUES(3832474,'K00806.02','Kepler-30c','CONFIRMED',60.32488611,12.88,411);
INSERT INTO Planet2 VALUES(3832474,'K00806.03','Kepler-30b','CONFIRMED',29.1598615,1.91,524);
INSERT INTO Planet2 VALUES(3935914,'K00809.01','Kepler-686b','CONFIRMED',1.594745463,11.77,1540);
INSERT INTO Planet2 VALUES(3940418,'K00810.01',NULL,'CANDIDATE',4.78300451,2.76,886);
INSERT INTO Planet2 VALUES(4049131,'K00811.01','Kepler-687b','CONFIRMED',20.50586978,3.62,518);
INSERT INTO Planet2 VALUES(4139816,'K00812.01','Kepler-235b','CONFIRMED',3.34021995,2.18,635);
INSERT INTO Planet2 VALUES(4139816,'K00812.02','Kepler-235d','CONFIRMED',20.06037454,1.99,350);
INSERT INTO Planet2 VALUES(4139816,'K00812.03','Kepler-235e','CONFIRMED',46.18415,1.94,265);
INSERT INTO Planet2 VALUES(4139816,'K00812.04','Kepler-235c','CONFIRMED',7.82501206,1.22,478);
INSERT INTO Planet2 VALUES(4275191,'K00813.01','Kepler-688b','CONFIRMED',3.895936844,7.92,1011);
INSERT INTO Planet2 VALUES(4476123,'K00814.01','Kepler-689b','CONFIRMED',22.36656079,2.45,544);
INSERT INTO Planet2 VALUES(5358241,'K00829.01','Kepler-53b','CONFIRMED',18.64929678,2.9,700);
INSERT INTO Planet2 VALUES(5358241,'K00829.02','Kepler-53d','CONFIRMED',9.75193182,2.44,869);
INSERT INTO Planet2 VALUES(5358241,'K00829.03','Kepler-53c','CONFIRMED',38.5575914,3.57,550);
INSERT INTO Planet2 VALUES(5358624,'K00830.01','Kepler-428b','CONFIRMED',3.525632561,11.87,955);
INSERT INTO Planet2 VALUES(5456651,'K00835.01','Kepler-239b','CONFIRMED',11.76305946,2.36,614);
INSERT INTO Planet2 VALUES(5456651,'K00835.02','Kepler-239c','CONFIRMED',56.2279697,2.19,365);
INSERT INTO Planet2 VALUES(6862328,'K00865.01',NULL,'CANDIDATE',119.0206251,7.58,348);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [23]:
%%sql
SELECT * FROM Star2;

66 rows affected.

[(2713049, 5996, 0.956),
 (3114167, 5666, 0.677),
 (3115833, 5995, 0.847),
 (3246984, 5735, 0.973),
 (3342970, 6167, 1.064),
 (3351888, 5717, 1.057),
 (3453214, 5733, 0.77),
 (3641726, 5349, 0.82),
 (3832474, 5485, 0.867),
 (3935914, 5934, 0.893),
 (3940418, 5170, 0.807),
 (4049131, 4905, 0.761),
 (4139816, 3887, 0.48),
 (4275191, 5557, 0.781),
 (4476123, 5413, 0.751),
 (5358241, 6079, 0.945),
 (5358624, 5071, 0.788),
 (5456651, 4980, 0.734),
 (6862328, 5796, 0.871),
 (6922244, 6225, 1.451),
 (8395660, 5881, 1.029),
 (9579641, 6391, 1.332),
 (10187017, 4812, 0.755),
 (10480982, 6117, 0.947),
 (10526549, 4856, 0.696),
 (10583066, 4536, 0.693),
 (10601284, 5559, 0.806),
 (10662202, 4722, 0.527),
 (10666592, 6350, 1.991),
 (10682541, 5339, 0.847),
 (10797460, 5850, 1.04),
 (10811496, 5853, 0.868),
 (10848459, 5795, 0.803),
 (10854555, 6031, 1.046),
 (10872983, 6046, 0.972),
 (10875245, 5851, 1.411),
 (10910878, 5126, 0.742),
 (10984090, 5803, 1.073),
 (10987985, 5015, 0.826),
 (11018648, 5588, 0.796),
 (11138155, 6117, 1.025),
 (11153539, 6075, 0.969),
 (11304958, 5468, 1.046),
 (11391957, 5592, 0.782),
 (11403044, 6174, 1.103),
 (11414511, 5653, 0.965),
 (11460018, 5641, 0.831),
 (11465813, 5520, 0.983),
 (11493732, 6144, 1.091),
 (11507101, 5957, 0.971),
 (11754553, 3898, 0.54),
 (11812062, 5492, 0.812),
 (11818800, 5446, 0.781),
 (11853255, 3741, 0.45),
 (11904151, 5627, 1.056),
 (11918099, 4989, 0.727),
 (11923270, 3672, 0.49),
 (11960862, 5992, 0.989),
 (12020329, 5485, 0.867),
 (12066335, 3767, 0.48),
 (12070811, 5557, 0.752),
 (12110942, 5880, 0.917),
 (12366084, 5841, 0.931),
 (12404086, 5127, 0.775),
 (12470844, 5354, 0.788),
 (12644822, 5795, 0.919)]

In [24]:
%%sql
SELECT * FROM Planet2;

95 rows affected.

[(10666592, 'K00002.01', 'Kepler-2b', 'CONFIRMED', 2.204735365, 16.39, 2025),
 (6922244, 'K00010.01', 'Kepler-8b', 'CONFIRMED', 3.522498573, 14.83, 1521),
 (11904151, 'K00072.01', 'Kepler-10b', 'CONFIRMED', 0.837491331, 1.45, 1968),
 (10187017, 'K00082.04', 'Kepler-102c', 'CONFIRMED', 7.07136076, 0.58, 723),
 (10187017, 'K00082.05', 'Kepler-102b', 'CONFIRMED', 5.28695437, 0.49, 797),
 (10984090, 'K00112.02', 'Kepler-466c', 'CONFIRMED', 3.709213846, 1.24, 1236),
 (9579641, 'K00115.01', 'Kepler-105b', 'CONFIRMED', 5.41220713, 3.28, 1306),
 (9579641, 'K00115.02', 'Kepler-105c', 'CONFIRMED', 7.12594591, 1.88, 1191),
 (9579641, 'K00115.03', None, 'CANDIDATE', 3.4358789, 0.65, 1519),
 (8395660, 'K00116.01', 'Kepler-106c', 'CONFIRMED', 13.57076622, 2.35, 796),
 (8395660, 'K00116.02', 'Kepler-106e', 'CONFIRMED', 43.84444353, 2.58, 538),
 (8395660, 'K00116.03', 'Kepler-106b', 'CONFIRMED', 6.16491696, 0.85, 1035),
 (8395660, 'K00116.04', 'Kepler-106d', 'CONFIRMED', 23.9802348, 0.99, 658),
 (10875245, 'K00117.02', 'Kepler-107c', 'CONFIRMED', 4.90143807, 1.84, 1263),
 (10480982, 'K00744.01', None, 'CANDIDATE', 19.221386154, 51.4, 698),
 (10526549, 'K00746.01', 'Kepler-660b', 'CONFIRMED', 9.27358194, 2.52, 649),
 (10583066, 'K00747.01', 'Kepler-661b', 'CONFIRMED', 6.029301321, 3.14, 685),
 (10601284, 'K00749.01', 'Kepler-226c', 'CONFIRMED', 5.34955671, 2.7, 918),
 (10601284, 'K00749.02', 'Kepler-226b', 'CONFIRMED', 3.94104632, 1.59, 1017),
 (10601284, 'K00749.03', 'Kepler-226d', 'CONFIRMED', 8.10904671, 1.19, 799),
 (10662202, 'K00750.01', 'Kepler-662b', 'CONFIRMED', 21.67697486, 1.54, 430),
 (10682541, 'K00751.01', 'Kepler-663b', 'CONFIRMED', 4.99678284, 2.7, 917),
 (10797460, 'K00752.01', 'Kepler-227b', 'CONFIRMED', 9.48803146, 3.1, 881),
 (10797460, 'K00752.02', 'Kepler-227c', 'CONFIRMED', 54.418464, 3.1, 492),
 (10811496, 'K00753.01', None, 'CANDIDATE', 19.899139805, 3462.25, 639),
 (10848459, 'K00754.01', None, 'CANDIDATE', 1.736952479, 34.04, 1404),
 (10854555, 'K00755.01', 'Kepler-664b', 'CONFIRMED', 2.525593315, 2.71, 1407),
 (10872983, 'K00756.01', 'Kepler-228d', 'CONFIRMED', 11.09431923, 4.02, 835),
 (10872983, 'K00756.02', 'Kepler-228c', 'CONFIRMED', 4.13443005, 3.02, 1160),
 (10872983, 'K00756.03', 'Kepler-228b', 'CONFIRMED', 2.56659092, 1.56, 1360),
 (10910878, 'K00757.01', 'Kepler-229c', 'CONFIRMED', 16.06862959, 5.27, 571),
 (10910878, 'K00757.02', 'Kepler-229d', 'CONFIRMED', 41.1970874, 3.62, 417),
 (10910878, 'K00757.03', 'Kepler-229b', 'CONFIRMED', 6.252964898, 2.41, 782),
 (10987985, 'K00758.01', 'Kepler-665b', 'CONFIRMED', 16.01310205, 2.86, 593),
 (11018648, 'K00759.01', 'Kepler-230b', 'CONFIRMED', 32.62882975, 3791.05, 506),
 (11018648, 'K00759.02', 'Kepler-230c', 'CONFIRMED', 91.77221, 2.13, 358),
 (11138155, 'K00760.01', None, 'CANDIDATE', 4.959319451, 11.88, 1128),
 (11153539, 'K00762.01', 'Kepler-666b', 'CONFIRMED', 4.49876092, 2.21, 1133),
 (11304958, 'K00764.01', 'Kepler-667b', 'CONFIRMED', 41.43962808, 5.73, 516),
 (11391957, 'K00765.01', 'Kepler-668b', 'CONFIRMED', 8.35390639, 2.54, 789),
 (11403044, 'K00766.01', 'Kepler-669b', 'CONFIRMED', 4.125546869, 4.46, 1244),
 (11414511, 'K00767.01', 'Kepler-670b', 'CONFIRMED', 2.816504852, 12.82, 1253),
 (11460018, 'K00769.01', 'Kepler-671b', 'CONFIRMED', 4.280958588, 2.33, 1014),
 (11465813, 'K00771.01', None, 'CANDIDATE', 670.645246, 14.41, 196),
 (11493732, 'K00772.01', None, 'CANDIDATE', 61.2563443, 64.23, 505),
 (11507101, 'K00773.01', 'Kepler-672b', 'CONFIRMED', 38.3774623, 2.7, 541),
 (11754553, 'K00775.01', 'Kepler-52c', 'CONFIRMED', 16.38485646, 1.81, 392),
 (11754553, 'K00775.02', 'Kepler-52b', 'CONFIRMED', 7.87740709, 2.33, 500),
 (11754553, 'K00775.03', 'Kepler-52d', 'CONFIRMED', 36.4451982, 1.8, 300),
 (11812062, 'K00776.01', 'Kepler-673b', 'CONFIRMED', 3.728731093, 6.27, 1022),
 (11818800, 'K00777.01', None, 'CANDIDATE', 40.41958501, 8.02, 468),
 (11853255, 'K00778.01', 'Kepler-674b', 'CONFIRMED', 2.243381847, 1.32, 685),
 (11918099, 'K00780.01', 'Kepler-675b', 'CONFIRMED', 2.33743801, 2.38, 1054),
 (11918099, 'K00780.02', None, 'CANDIDATE', 7.2406514, 5.32, 723),
 (11923270, 'K00781.01', 'Kepler-676b', 'CONFIRMED', 11.59822172, 3.07, 400),
 (11960862, 'K00782.01', 'Kepler-677b', 'CONFIRMED', 6.57531678, 5.38, 1015),
 (12020329, 'K00783.01', 'Kepler-678b', 'CONFIRMED', 7.27503724, 4.91, 833),
 (12066335, 'K00784.01', 'Kepler-231c', 'CONFIRMED', 19.2715468, 1.73, 343),
 (12066335, 'K00784.02', 'Kepler-231b', 'CONFIRMED', 10.06525843, 1.61, 426),
 (12070811, 'K00785.01', 'Kepler-679b', 'CONFIRMED', 12.39358604, 2.69, 680),
 (12110942, 'K00786.01', 'Kepler-680b', 'CONFIRMED', 3.689926291, 1.96, 1147),
 (12366084, 'K00787.01', 'Kepler-232b', 'CONFIRMED', 4.431242593, 3.07, 1074),
 (12366084, 'K00787.02', 'Kepler-232c', 'CONFIRMED', 11.37938071, 3.74, 784),
 (12404086, 'K00788.01', 'Kepler-681b', 'CONFIRMED', 26.39435646, 3.16, 491),
 (12470844, 'K00790.01', 'Kepler-233b', 'CONFIRMED', 8.47237844, 2.71, 752),
 (12470844, 'K00790.02', 'Kepler-233c', 'CONFIRMED', 60.4186137, 2.72, 390),
 (12644822, 'K00791.01', 'Kepler-682b', 'CONFIRMED', 12.611906672, 7.66, 753),
 (2713049, 'K00794.01', 'Kepler-683b', 'CONFIRMED', 2.539183179, 1.97, 1348),
 (3114167, 'K00795.01', 'Kepler-684b', 'CONFIRMED', 6.770302008, 2.66, 813),
 (3115833, 'K00797.01', None, 'CANDIDATE', 10.181581555, 8.18, 819),
 (3246984, 'K00799.01', None, 'CANDIDATE', 1.626629735, 447.32, 1548),
 (3342970, 'K00800.01', 'Kepler-234b', 'CONFIRMED', 2.711502579, 3.62, 1405),
 (3342970, 'K00800.02', 'Kepler-234c', 'CONFIRMED', 7.21204152, 3.51, 1015),
 (3351888, 'K00801.01', 'Kepler-685b', 'CONFIRMED', 1.6255222, 9.74, 1572),
 (3453214, 'K00802.01', None, 'CANDIDATE', 19.620347388, 12.0, 605),
 (3641726, 'K00804.01', None, 'CANDIDATE', 9.0293089, 2.72, 757),
 (3832474, 'K00806.01', 'Kepler-30d', 'CONFIRMED', 143.2063518, 9.36, 308),
 (3832474, 'K00806.02', 'Kepler-30c', 'CONFIRMED', 60.32488611, 12.88, 411),
 (3832474, 'K00806.03', 'Kepler-30b', 'CONFIRMED', 29.1598615, 1.91, 524),
 (3935914, 'K00809.01', 'Kepler-686b', 'CONFIRMED', 1.594745463, 11.77, 1540),
 (3940418, 'K00810.01', None, 'CANDIDATE', 4.78300451, 2.76, 886),
 (4049131, 'K00811.01', 'Kepler-687b', 'CONFIRMED', 20.50586978, 3.62, 518),
 (4139816, 'K00812.01', 'Kepler-235b', 'CONFIRMED', 3.34021995, 2.18, 635),
 (4139816, 'K00812.02', 'Kepler-235d', 'CONFIRMED', 20.06037454, 1.99, 350),
 (4139816, 'K00812.03', 'Kepler-235e', 'CONFIRMED', 46.18415, 1.94, 265),
 (4139816, 'K00812.04', 'Kepler-235c', 'CONFIRMED', 7.82501206, 1.22, 478),
 (4275191, 'K00813.01', 'Kepler-688b', 'CONFIRMED', 3.895936844, 7.92, 1011),
 (4476123, 'K00814.01', 'Kepler-689b', 'CONFIRMED', 22.36656079, 2.45, 544),
 (5358241, 'K00829.01', 'Kepler-53b', 'CONFIRMED', 18.64929678, 2.9, 700),
 (5358241, 'K00829.02', 'Kepler-53d', 'CONFIRMED', 9.75193182, 2.44, 869),
 (5358241, 'K00829.03', 'Kepler-53c', 'CONFIRMED', 38.5575914, 3.57, 550),
 (5358624, 'K00830.01', 'Kepler-428b', 'CONFIRMED', 3.525632561, 11.87, 955),
 (5456651, 'K00835.01', 'Kepler-239b', 'CONFIRMED', 11.76305946, 2.36, 614),
 (5456651, 'K00835.02', 'Kepler-239c', 'CONFIRMED', 56.2279697, 2.19, 365),
 (6862328, 'K00865.01', None, 'CANDIDATE', 119.0206251, 7.58, 348)]

In [49]:

def select_all(database_name):
    conn = psycopg2.connect("dbname='template1' user='postgres' host='localhost' password='xxxx'")
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM Star2;')
    records = cursor.fetchall()
    array = np.array(records)
    return array

In [50]:
select_all('Star2')

array([[  2.71304900e+06,   5.99600000e+03,   9.56000000e-01],
       [  3.11416700e+06,   5.66600000e+03,   6.77000000e-01],
       [  3.11583300e+06,   5.99500000e+03,   8.47000000e-01],
       [  3.24698400e+06,   5.73500000e+03,   9.73000000e-01],
       [  3.34297000e+06,   6.16700000e+03,   1.06400000e+00],
       [  3.35188800e+06,   5.71700000e+03,   1.05700000e+00],
       [  3.45321400e+06,   5.73300000e+03,   7.70000000e-01],
       [  3.64172600e+06,   5.34900000e+03,   8.20000000e-01],
       [  3.83247400e+06,   5.48500000e+03,   8.67000000e-01],
       [  3.93591400e+06,   5.93400000e+03,   8.93000000e-01],
       [  3.94041800e+06,   5.17000000e+03,   8.07000000e-01],
       [  4.04913100e+06,   4.90500000e+03,   7.61000000e-01],
       [  4.13981600e+06,   3.88700000e+03,   4.80000000e-01],
       [  4.27519100e+06,   5.55700000e+03,   7.81000000e-01],
       [  4.47612300e+06,   5.41300000e+03,   7.51000000e-01],
       [  5.35824100e+06,   6.07900000e+03,   9.45000000e-01],
       [  5.35862400e+06,   5.07100000e+03,   7.88000000e-01],
       [  5.45665100e+06,   4.98000000e+03,   7.34000000e-01],
       [  6.86232800e+06,   5.79600000e+03,   8.71000000e-01],
       [  6.92224400e+06,   6.22500000e+03,   1.45100000e+00],
       [  8.39566000e+06,   5.88100000e+03,   1.02900000e+00],
       [  9.57964100e+06,   6.39100000e+03,   1.33200000e+00],
       [  1.01870170e+07,   4.81200000e+03,   7.55000000e-01],
       [  1.04809820e+07,   6.11700000e+03,   9.47000000e-01],
       [  1.05265490e+07,   4.85600000e+03,   6.96000000e-01],
       [  1.05830660e+07,   4.53600000e+03,   6.93000000e-01],
       [  1.06012840e+07,   5.55900000e+03,   8.06000000e-01],
       [  1.06622020e+07,   4.72200000e+03,   5.27000000e-01],
       [  1.06665920e+07,   6.35000000e+03,   1.99100000e+00],
       [  1.06825410e+07,   5.33900000e+03,   8.47000000e-01],
       [  1.07974600e+07,   5.85000000e+03,   1.04000000e+00],
       [  1.08114960e+07,   5.85300000e+03,   8.68000000e-01],
       [  1.08484590e+07,   5.79500000e+03,   8.03000000e-01],
       [  1.08545550e+07,   6.03100000e+03,   1.04600000e+00],
       [  1.08729830e+07,   6.04600000e+03,   9.72000000e-01],
       [  1.08752450e+07,   5.85100000e+03,   1.41100000e+00],
       [  1.09108780e+07,   5.12600000e+03,   7.42000000e-01],
       [  1.09840900e+07,   5.80300000e+03,   1.07300000e+00],
       [  1.09879850e+07,   5.01500000e+03,   8.26000000e-01],
       [  1.10186480e+07,   5.58800000e+03,   7.96000000e-01],
       [  1.11381550e+07,   6.11700000e+03,   1.02500000e+00],
       [  1.11535390e+07,   6.07500000e+03,   9.69000000e-01],
       [  1.13049580e+07,   5.46800000e+03,   1.04600000e+00],
       [  1.13919570e+07,   5.59200000e+03,   7.82000000e-01],
       [  1.14030440e+07,   6.17400000e+03,   1.10300000e+00],
       [  1.14145110e+07,   5.65300000e+03,   9.65000000e-01],
       [  1.14600180e+07,   5.64100000e+03,   8.31000000e-01],
       [  1.14658130e+07,   5.52000000e+03,   9.83000000e-01],
       [  1.14937320e+07,   6.14400000e+03,   1.09100000e+00],
       [  1.15071010e+07,   5.95700000e+03,   9.71000000e-01],
       [  1.17545530e+07,   3.89800000e+03,   5.40000000e-01],
       [  1.18120620e+07,   5.49200000e+03,   8.12000000e-01],
       [  1.18188000e+07,   5.44600000e+03,   7.81000000e-01],
       [  1.18532550e+07,   3.74100000e+03,   4.50000000e-01],
       [  1.19041510e+07,   5.62700000e+03,   1.05600000e+00],
       [  1.19180990e+07,   4.98900000e+03,   7.27000000e-01],
       [  1.19232700e+07,   3.67200000e+03,   4.90000000e-01],
       [  1.19608620e+07,   5.99200000e+03,   9.89000000e-01],
       [  1.20203290e+07,   5.48500000e+03,   8.67000000e-01],
       [  1.20663350e+07,   3.76700000e+03,   4.80000000e-01],
       [  1.20708110e+07,   5.55700000e+03,   7.52000000e-01],
       [  1.21109420e+07,   5.88000000e+03,   9.17000000e-01],
       [  1.23660840e+07,   5.84100000e+03,   9.31000000e-01],
       [  1.24040860e+07,   5.12700000e+03,   7.75000000e-01],
       [  1.24708440e+07,   5.35400000e+03,   7.88000000e-01],
       [  1.26448220e+07,   5.79500000e+03,   9.19000000e-01]])

In [60]:
def column_stats(database_name, dbname):
    conn = psycopg2.connect("dbname='template1' user='postgres' host='localhost' password='xxxx'")
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM Star2;')
    records = cursor.fetchall()
    array = np.array(records)
    
    t_eff = []
    for row in records:
        t_eff.append(row[1])
    
    return np.mean(t_eff), np.median(t_eff)

In [61]:
column_stats('Star2', 't_eff')

(5490.681818181818, 5634.0)

In [26]:
import psycopg2
import numpy as np

conn = psycopg2.connect("dbname='template1' user='postgres' host='localhost' password='xxxx'")
cursor = conn.cursor()

cursor.execute('SELECT radius FROM Star2; ')

records = cursor.fetchall()
array = np.array(records)

print(array.shape)
print(array.mean())
print(array.std())

(66, 1)
0.886863636364
0.237456527847